{% extends 'admin/base.html' %}
 {% load i18n unfold static %}



{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
    
    <!-- Hero Section -->
    <div class="relative w-full h-96 overflow-hidden">
        <!-- Image with blur filter -->
        <img src="{% static 'hero/hero.jpg' %}" alt="Hero Image" class="w-full h-full object-cover filter blur-lg">
        
        <!-- Overlay for darkening effect -->
        <div class="absolute inset-0 bg-black opacity-50"></div>

        <!-- Centered Text and Button -->
        <div class="absolute inset-0 flex justify-center items-center text-center text-white mt-24">
            <div class="space-y-4 mt-16"> <!-- Added mt-16 to move text down -->
                <h1 class="text-4xl font-bold">Welcome to Your Dashboard</h1>
                <p class="text-lg">Manage your products, orders, and more.</p>
                <a href="{% url 'admin:users_product_changelist' %}" class="bg-blue-500 text-black py-2 px-6 rounded-lg hover:bg-blue-600">View Products</a>
            </div>
        </div>
    </div>

    <!--components -->
   
 {% component "unfold/components/container.html" %}
  {% component "unfold/components/title.html" %}
    
  {% endcomponent %}

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    
    {% for card in cards %}
    <div class="shadow-lg ">
      <a href="{% url card.link %}" class="block">
        {% component "unfold/components/card.html" with class="shadow-lg " %}
         
            <div class="flex items-center justify-between ">
              <div>
                {% component "unfold/components/text.html" with size="lg" %}
                  {{ card.title }}
                {% endcomponent %}
                {% component "unfold/components/title.html" %}
                  {{ card.metric }}
                {% endcomponent %}
              </div>

              {% component "unfold/components/icon.html" with name=card.icon class="h-10 w-10 text-gray-500" %}
              {% endcomponent %}
            </div>
        
        {% endcomponent %}
      </a>
      </div>
    {% endfor %}
  </div>
{% endcomponent %}
  
{% endblock %}

